

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin:0 auto 0;
}

header{
    margin-bottom: 10px;
    color: #777;
    background:whitesmoke;
    height:40px;
    text-align: center;

}
nav{
    margin-bottom: 10px;
    color: #777;
    background:whitesmoke;
    height:40px;
}

header {
  margin: 10px auto;
}

section {
    width: 495px;
    height: 250px;
    text-align: center;
    padding: 20px;
    background:whitesmoke;
    float: left;
    margin:10px auto;
}

header,
nav,
footer,
aside {
    text-align: center;
    padding: 20px;
}

nav {
    margin-bottom: 15px;
    height: 50px;
}

 
#h1 {
  background: #ebebeb;
  color: #777;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  width:90%;
  left:25px;
    }

#p {
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #ebebeb;
    width:90%;
    left:25px;
}

.box-set {
    position: relative;
    z-index: 1;
}

.box {
    position: relative;
    }

.box1 {
  top: -150px;
  position: relative;
  z-index: 2;

}

.box2 {
    top:-150px;
    position: relative;
    z-index: 2;
  }

 
#article {
  color: #ebebeb;
  background: #777;
  height: 200px;
  margin-top: 20px;
  padding-top: 20px;
  
}

aside {
   float: right;
   height: 250px;
   width:350px;
   background:whitesmoke;
   margin:10px auto;
}


#footer{
    margin-bottom: 10px;
    background:whitesmoke;
    height:40px;
    margin:10px auto;
}
.clear {
    content: "";
    clear: both;
    overflow: auto;
  }



 